body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}

h1 {
  margin: 50px auto 0 auto;
  padding-bottom: 10px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #11999E;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.intro {
  width: 45%;
  margin: 0 auto;
}

.contact-message {
  width: 45%;
  margin: 40px auto 60px;
}

.designer {
  font-weight: normal;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.web {
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 500px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 80px auto;
  text-align: left;
}

.skill-one {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.skill-two {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.button {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #EAF6F6;
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   font-weight: 600;
   padding: 23px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
}

.copyright {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 20px 0;
}
